/* Home page specific styles */

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    background-color: #f5f5f5; /* Background color for hero section */
    color: #000000; /* Text color */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

.hero-content {
    display: flex;
    width: 100%;
}

.hero-image {
    flex: 0 0 55%; /* Image takes 40% of the width */
    background: #f5f5f5; /* Fallback background color */
    overflow: hidden; /* Hide overflow to maintain rounded corners */
}

.hero-image img {
    width: 100%;
    height: auto;
    max-height: 600px; /* Control the maximum height of the image */
    object-fit: cover; /* Ensure the image covers the area while maintaining aspect ratio */
    border-bottom-right-radius: 250px; /* Increase rounding of the bottom right corner */
    display: block; /* Remove any extra space below image */
}

.hero-text {
    flex: 1; /* Text takes the remaining space */
    padding: 2rem; /* Padding around the text content */
    max-width: 60%; /* Ensure text content does not exceed 60% of the width */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center text vertically */
    text-align: left; /* Align text to the left */
}

.hero-text h1 {
    font-size: 3rem; /* Increase font size */
    font-weight: bold; /* Make text bold */
    color: #334195; /* Purple color */
    margin-bottom: 1rem;
    line-height: 1.2; /* Adjust line height for better readability */
    word-wrap: break-word; /* Allow text to wrap to the next line if needed */
}

.hero-text p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.cta-button {
    background-color: #334195; /* Custom color for button */
    color: #ffffff;
    padding: 0.5rem 1.5rem; /* Adjust padding to wrap around content */
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    display: inline-block; /* Ensure button only takes up as much space as its content */
    align-self: flex-start; /* Align the button to the start of the flex container */
}

.cta-button:hover {
    background-color: #020887; /* Darker shade on hover */
}

/* Features Section */
.features {
    padding: 2rem 1rem;
}

.features .container {
    max-width: 1200px; /* Optional: Ensure the container width fits your design */
}

.feature-item {
    background-color: #ffffff; /* Background color for feature items */
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 1.5rem; /* Increased padding for better spacing */
    text-align: center;
    height: 100%; /* Ensure the feature items take up the full height of the column */
}

.feature-item h2 {
    font-size: 1.5rem; /* Adjust as needed */
    margin-bottom: 1rem;
}

.feature-item p {
    font-size: 1rem; /* Adjust as needed */
    color: #666666; /* Subtle text color */
}
